version: '3.8'
services:
  app:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - mongo
    environment:
      # Use MongoDB for StreamFi, not Postgres
      DATABASE_URL: "mongodb+srv://7317520025a_db_user:zZOYiPQvh1CDhnSE@cluster0.qywxnuo.mongodb.net/streamfi?retryWrites=true&w=majority&appName=Cluster0"


  mongo:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
